altgraph==0.17
astroid==2.3.3
attrs==19.3.0
autopep8==1.4.4
backcall==0.1.0
beautifulsoup4==4.9.0
bleach==3.1.0
certifi==2019.9.11
chardet==3.0.4
colorama==0.4.1
cycler==0.10.0
decorator==4.4.1
defusedxml==0.6.0
entrypoints==0.3
fake-useragent==0.1.11
filterpy==1.4.5
future==0.18.2
idna==2.8
importlib-metadata==0.23
imutils==0.5.3
ipykernel==5.1.3
ipython==7.9.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
jedi==0.15.1
Jinja2==2.10.3
jsonschema==3.1.1
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.0.0
jupyter-core==4.6.1
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
lxml==4.4.1
MarkupSafe==1.1.1
matplotlib==3.1.1
mccabe==0.6.1
mistune==0.8.4
more-itertools==7.2.0
mpl-finance==0.10.0
nbconvert==5.6.1
nbformat==4.4.0
notebook==6.0.2
numpy==1.17.2
opencv-python==4.1.2.30
pandas==0.25.1
pandas-datareader==0.7.4
pandocfilters==1.4.2
parso==0.5.1
pefile==2019.4.18
pickleshare==0.7.5
prometheus-client==0.7.1
prompt-toolkit==2.0.10
pycodestyle==2.5.0
Pygments==2.4.2
PyInstaller==3.6
pylint==2.4.3
pyparsing==2.4.2
pyrsistent==0.15.5
python-dateutil==2.8.0
pytz==2019.2
pywin32==226
pywin32-ctypes==0.2.0
pywinpty==0.5.5
pyzmq==18.1.0
qtconsole==4.5.5
requests==2.22.0
scan-build==2.0.17
scipy==1.3.2
Send2Trash==1.5.0
six==1.12.0
soupsieve==2.0
terminado==0.8.2
testpath==0.4.4
tornado==6.0.3
tqdm==4.36.0
traitlets==4.3.3
typed-ast==1.4.0
urllib3==1.25.3
virtualenv==16.7.9
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.5.1
wrapt==1.11.2
zipp==0.6.0
